body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #666;
  font-size: 12px;
  font-family: "微软雅黑", Helvetica, sans-serif;
}
td,
th,
caption {
  font-size: 14px;
}
i {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  color: #3377aa;
  text-decoration: none;
}
a:hover {
  color: #fff;
  background: #3377aa;
}
img {
  border: none;
  vertical-align: top;
}
ol,
ul,
li {
  list-style: none;
}
input,
textarea,
select,
button {
  font: 12px "微软雅黑", Helvetica, Arial, sans-serif;
  outline: none;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: scroll;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.container {
  width: 950px;
  margin: 0 auto;
}
.public-add {
  width: 100%;
  height: 90px;
}
.public-title {
  font-size: 14px;
  line-height: 58px;
  color: #007722;
}
.public-title span:last-child {
  font-size: 12px;
}
.public-title span:last-child a {
  color: #3377aa;
}
.public-title span:last-child a:hover {
  background: #3377aa;
  color: #fff;
}
.public-img-text {
  text-align: center;
}
.public-img-text li {
  margin-bottom: 40px;
  float: left;
}
.public-img-text li:not(:nth-child(4n+1)) {
  margin-left: 27px;
}
.public-img-text li .img-wrap {
  width: 100px;
  height: 142px;
}
.public-img-text li .img-wrap a {
  display: block;
  width: 100%;
  height: 100%;
}
.public-img-text li .img-wrap a img {
  width: 100%;
}
.public-img-text li .stars span {
  color: #ff5f6c;
}
.public-img-text li .stars span:first-child {
  display: inline-block;
  height: 11px;
  width: 55px;
  background: url("../../images/midstars.gif") no-repeat 0 0;
}
.public-img-text li > a:last-child {
  display: block;
  width: 68px;
  height: 23px;
  border-radius: 4px;
  background: #3377aa;
  line-height: 23px;
  color: #fff;
  margin: 0 auto;
}
.public-img-text li > a:last-child:hover {
  background: #666;
}
.music {
  margin-top: 45px;
  background: #f7f7f7;
}
.music a {
  color: #555d53;
}
.music a:hover {
  background: #555d53;
  color: #fff;
}
.music .music-wrap .music-catalog {
  padding-top: 33px;
}
.music .music-wrap .music-catalog > dl dt {
  font-size: 22px;
  line-height: 50px;
  color: #f4996a;
}
.music .music-wrap .music-catalog > dl dd a {
  font-size: 14px;
  line-height: 24px;
}
.music .music-wrap .music-catalog .little-logo {
  margin-top: 30px;
}
.music .music-wrap .music-catalog .little-logo a:first-child {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  box-shadow: 4px 4px 6px #b4b4b4;
}
.music .music-wrap .music-catalog .little-logo a:last-child {
  line-height: 24px;
}
.music .music-wrap .music-catalog .fm-logo {
  background: url("../../images/app_icons_50_6.jpg") no-repeat -250px 0;
}
.music .music-wrap .music-catalog .musicman-logo {
  background: url("../../images/app_icons_50_6.jpg") no-repeat -50px 0;
}
.music .music-wrap .music-list-wrap {
  padding-top: 26px;
  margin-left: 58px;
  width: 495px;
}
.music .music-wrap .music-list-wrap .xindie {
  line-height: 48px;
}
.music .music-wrap .music-list-wrap .music-img-text {
  padding-left: 13px;
}
.music .music-wrap .music-list-wrap .music-img-text li .img-wrap {
  width: 85px;
  height: 76px;
}
.music .music-wrap .music-list-wrap .music-img-text li > a {
  display: block;
}
.music .music-wrap .music-list-wrap .music-img-text li:not(:nth-child(4n+1)) {
  margin-left: 45px;
}
.music .music-wrap .music-class {
  padding-top: 26px;
  margin-left: 68px;
  width: 216px;
}
.music .music-wrap .music-class .music-class-many > h2 {
  line-height: 48px;
}
.music .music-wrap .music-class .music-class-many > ul li {
  float: left;
  line-height: 24px;
}
.music .music-wrap .music-class .music-class-many > ul li:not(:nth-child(5n+1)) {
  margin-left: 22px;
}
.music .music-wrap .music-class .music-class-hot > h2 {
  line-height: 34px;
}
.music .music-wrap .music-class .music-class-hot ol li {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px dotted #9E9E9E;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm11c2ljLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7RUEwQkUsVUFBVTtFQUNWLFdBQVc7Q0FDWjtBQUNEO0VBQ0UsaUJBQWlCO0VBQ2pCLFlBQVk7RUFDWixnQkFBZ0I7RUFDaEIsMkNBQTJDO0NBQzVDO0FBQ0Q7OztFQUdFLGdCQUFnQjtDQUNqQjtBQUNEO0VBQ0UsbUJBQW1CO0NBQ3BCO0FBQ0Q7Ozs7OztFQU1FLG9CQUFvQjtFQUNwQixnQkFBZ0I7Q0FDakI7QUFDRDs7Ozs7Ozs7O0VBU0UsbUJBQW1CO0VBQ25CLG9CQUFvQjtDQUNyQjtBQUNEO0VBQ0UsZUFBZTtFQUNmLHNCQUFzQjtDQUN2QjtBQUNEO0VBQ0UsWUFBWTtFQUNaLG9CQUFvQjtDQUNyQjtBQUNEO0VBQ0UsYUFBYTtFQUNiLG9CQUFvQjtDQUNyQjtBQUNEOzs7RUFHRSxpQkFBaUI7Q0FDbEI7QUFDRDs7OztFQUlFLGdEQUFnRDtFQUNoRCxjQUFjO0NBQ2Y7QUFDRDtFQUNFLDBCQUEwQjtDQUMzQjtBQUNEO0VBQ0UsbUJBQW1CO0NBQ3BCO0FBQ0Q7RUFDRSxhQUFhO0VBQ2IsZUFBZTtFQUNmLFVBQVU7RUFDVixZQUFZO0VBQ1osbUJBQW1CO0NBQ3BCO0FBQ0Q7R0FDRSxRQUFTO0NBQ1Y7QUFDRDtFQUNFLFlBQVk7Q0FDYjtBQUNEO0VBQ0UsYUFBYTtDQUNkO0FBQ0Q7RUFDRSxpQkFBaUI7Q0FDbEI7QUFDRDtFQUNFLG1CQUFtQjtDQUNwQjtBQUNEO0VBQ0Usa0JBQWtCO0NBQ25CO0FBQ0Q7RUFDRSxhQUFhO0VBQ2IsZUFBZTtDQUNoQjtBQUNEO0VBQ0UsWUFBWTtFQUNaLGFBQWE7Q0FDZDtBQUNEO0VBQ0UsZ0JBQWdCO0VBQ2hCLGtCQUFrQjtFQUNsQixlQUFlO0NBQ2hCO0FBQ0Q7RUFDRSxnQkFBZ0I7Q0FDakI7QUFDRDtFQUNFLGVBQWU7Q0FDaEI7QUFDRDtFQUNFLG9CQUFvQjtFQUNwQixZQUFZO0NBQ2I7QUFDRDtFQUNFLG1CQUFtQjtDQUNwQjtBQUNEO0VBQ0Usb0JBQW9CO0VBQ3BCLFlBQVk7Q0FDYjtBQUNEO0VBQ0Usa0JBQWtCO0NBQ25CO0FBQ0Q7RUFDRSxhQUFhO0VBQ2IsY0FBYztDQUNmO0FBQ0Q7RUFDRSxlQUFlO0VBQ2YsWUFBWTtFQUNaLGFBQWE7Q0FDZDtBQUNEO0VBQ0UsWUFBWTtDQUNiO0FBQ0Q7RUFDRSxlQUFlO0NBQ2hCO0FBQ0Q7RUFDRSxzQkFBc0I7RUFDdEIsYUFBYTtFQUNiLFlBQVk7RUFDWiwyREFBMkQ7Q0FDNUQ7QUFDRDtFQUNFLGVBQWU7RUFDZixZQUFZO0VBQ1osYUFBYTtFQUNiLG1CQUFtQjtFQUNuQixvQkFBb0I7RUFDcEIsa0JBQWtCO0VBQ2xCLFlBQVk7RUFDWixlQUFlO0NBQ2hCO0FBQ0Q7RUFDRSxpQkFBaUI7Q0FDbEI7QUFDRDtFQUNFLGlCQUFpQjtFQUNqQixvQkFBb0I7Q0FDckI7QUFDRDtFQUNFLGVBQWU7Q0FDaEI7QUFDRDtFQUNFLG9CQUFvQjtFQUNwQixZQUFZO0NBQ2I7QUFDRDtFQUNFLGtCQUFrQjtDQUNuQjtBQUNEO0VBQ0UsZ0JBQWdCO0VBQ2hCLGtCQUFrQjtFQUNsQixlQUFlO0NBQ2hCO0FBQ0Q7RUFDRSxnQkFBZ0I7RUFDaEIsa0JBQWtCO0NBQ25CO0FBQ0Q7RUFDRSxpQkFBaUI7Q0FDbEI7QUFDRDtFQUNFLGVBQWU7RUFDZixZQUFZO0VBQ1osYUFBYTtFQUNiLG1CQUFtQjtFQUNuQixnQ0FBZ0M7Q0FDakM7QUFDRDtFQUNFLGtCQUFrQjtDQUNuQjtBQUNEO0VBQ0Usc0VBQXNFO0NBQ3ZFO0FBQ0Q7RUFDRSxxRUFBcUU7Q0FDdEU7QUFDRDtFQUNFLGtCQUFrQjtFQUNsQixrQkFBa0I7RUFDbEIsYUFBYTtDQUNkO0FBQ0Q7RUFDRSxrQkFBa0I7Q0FDbkI7QUFDRDtFQUNFLG1CQUFtQjtDQUNwQjtBQUNEO0VBQ0UsWUFBWTtFQUNaLGFBQWE7Q0FDZDtBQUNEO0VBQ0UsZUFBZTtDQUNoQjtBQUNEO0VBQ0Usa0JBQWtCO0NBQ25CO0FBQ0Q7RUFDRSxrQkFBa0I7RUFDbEIsa0JBQWtCO0VBQ2xCLGFBQWE7Q0FDZDtBQUNEO0VBQ0Usa0JBQWtCO0NBQ25CO0FBQ0Q7RUFDRSxZQUFZO0VBQ1osa0JBQWtCO0NBQ25CO0FBQ0Q7RUFDRSxrQkFBa0I7Q0FDbkI7QUFDRDtFQUNFLGtCQUFrQjtDQUNuQjtBQUNEO0VBQ0UsYUFBYTtFQUNiLGtCQUFrQjtFQUNsQixrQ0FBa0M7Q0FDbkMiLCJmaWxlIjoicGFnZS9jb21wb25lbnRzL211c2ljLmNzcyIsInNvdXJjZXNDb250ZW50IjpbImJvZHksXG5kaXYsXG5kbCxcbmR0LFxuZGQsXG51bCxcbm9sLFxubGksXG5oMSxcbmgyLFxuaDMsXG5oNCxcbmg1LFxuaDYsXG5wcmUsXG5jb2RlLFxuZm9ybSxcbmZpZWxkc2V0LFxubGVnZW5kLFxuaW5wdXQsXG5idXR0b24sXG50ZXh0YXJlYSxcbnAsXG5ibG9ja3F1b3RlLFxudGgsXG50ZCB7XG4gIG1hcmdpbjogMDtcbiAgcGFkZGluZzogMDtcbn1cbmJvZHkge1xuICBiYWNrZ3JvdW5kOiAjZmZmO1xuICBjb2xvcjogIzY2NjtcbiAgZm9udC1zaXplOiAxMnB4O1xuICBmb250LWZhbWlseTogXCLlvq7ova/pm4Xpu5FcIiwgSGVsdmV0aWNhLCBzYW5zLXNlcmlmO1xufVxudGQsXG50aCxcbmNhcHRpb24ge1xuICBmb250LXNpemU6IDE0cHg7XG59XG5pIHtcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xufVxuaDEsXG5oMixcbmgzLFxuaDQsXG5oNSxcbmg2IHtcbiAgZm9udC13ZWlnaHQ6IG5vcm1hbDtcbiAgZm9udC1zaXplOiAxMDAlO1xufVxuYWRkcmVzcyxcbmNhcHRpb24sXG5jaXRlLFxuY29kZSxcbmRmbixcbmVtLFxuc3Ryb25nLFxudGgsXG52YXIge1xuICBmb250LXN0eWxlOiBub3JtYWw7XG4gIGZvbnQtd2VpZ2h0OiBub3JtYWw7XG59XG5hIHtcbiAgY29sb3I6ICMzMzc3YWE7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbn1cbmE6aG92ZXIge1xuICBjb2xvcjogI2ZmZjtcbiAgYmFja2dyb3VuZDogIzMzNzdhYTtcbn1cbmltZyB7XG4gIGJvcmRlcjogbm9uZTtcbiAgdmVydGljYWwtYWxpZ246IHRvcDtcbn1cbm9sLFxudWwsXG5saSB7XG4gIGxpc3Qtc3R5bGU6IG5vbmU7XG59XG5pbnB1dCxcbnRleHRhcmVhLFxuc2VsZWN0LFxuYnV0dG9uIHtcbiAgZm9udDogMTJweCBcIuW+rui9r+mbhem7kVwiLCBIZWx2ZXRpY2EsIEFyaWFsLCBzYW5zLXNlcmlmO1xuICBvdXRsaW5lOiBub25lO1xufVxudGFibGUge1xuICBib3JkZXItY29sbGFwc2U6IGNvbGxhcHNlO1xufVxuaHRtbCB7XG4gIG92ZXJmbG93LXk6IHNjcm9sbDtcbn1cbi5jbGVhcmZpeDphZnRlciB7XG4gIGNvbnRlbnQ6IFwiLlwiO1xuICBkaXNwbGF5OiBibG9jaztcbiAgaGVpZ2h0OiAwO1xuICBjbGVhcjogYm90aDtcbiAgdmlzaWJpbGl0eTogaGlkZGVuO1xufVxuLmNsZWFyZml4IHtcbiAgKnpvb206IDE7XG59XG4uZmwge1xuICBmbG9hdDogbGVmdDtcbn1cbi5mciB7XG4gIGZsb2F0OiByaWdodDtcbn1cbi50bCB7XG4gIHRleHQtYWxpZ246IGxlZnQ7XG59XG4udGMge1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG59XG4udHIge1xuICB0ZXh0LWFsaWduOiByaWdodDtcbn1cbi5jb250YWluZXIge1xuICB3aWR0aDogOTUwcHg7XG4gIG1hcmdpbjogMCBhdXRvO1xufVxuLnB1YmxpYy1hZGQge1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiA5MHB4O1xufVxuLnB1YmxpYy10aXRsZSB7XG4gIGZvbnQtc2l6ZTogMTRweDtcbiAgbGluZS1oZWlnaHQ6IDU4cHg7XG4gIGNvbG9yOiAjMDA3NzIyO1xufVxuLnB1YmxpYy10aXRsZSBzcGFuOmxhc3QtY2hpbGQge1xuICBmb250LXNpemU6IDEycHg7XG59XG4ucHVibGljLXRpdGxlIHNwYW46bGFzdC1jaGlsZCBhIHtcbiAgY29sb3I6ICMzMzc3YWE7XG59XG4ucHVibGljLXRpdGxlIHNwYW46bGFzdC1jaGlsZCBhOmhvdmVyIHtcbiAgYmFja2dyb3VuZDogIzMzNzdhYTtcbiAgY29sb3I6ICNmZmY7XG59XG4ucHVibGljLWltZy10ZXh0IHtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xufVxuLnB1YmxpYy1pbWctdGV4dCBsaSB7XG4gIG1hcmdpbi1ib3R0b206IDQwcHg7XG4gIGZsb2F0OiBsZWZ0O1xufVxuLnB1YmxpYy1pbWctdGV4dCBsaTpub3QoOm50aC1jaGlsZCg0bisxKSkge1xuICBtYXJnaW4tbGVmdDogMjdweDtcbn1cbi5wdWJsaWMtaW1nLXRleHQgbGkgLmltZy13cmFwIHtcbiAgd2lkdGg6IDEwMHB4O1xuICBoZWlnaHQ6IDE0MnB4O1xufVxuLnB1YmxpYy1pbWctdGV4dCBsaSAuaW1nLXdyYXAgYSB7XG4gIGRpc3BsYXk6IGJsb2NrO1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiAxMDAlO1xufVxuLnB1YmxpYy1pbWctdGV4dCBsaSAuaW1nLXdyYXAgYSBpbWcge1xuICB3aWR0aDogMTAwJTtcbn1cbi5wdWJsaWMtaW1nLXRleHQgbGkgLnN0YXJzIHNwYW4ge1xuICBjb2xvcjogI2ZmNWY2Yztcbn1cbi5wdWJsaWMtaW1nLXRleHQgbGkgLnN0YXJzIHNwYW46Zmlyc3QtY2hpbGQge1xuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gIGhlaWdodDogMTFweDtcbiAgd2lkdGg6IDU1cHg7XG4gIGJhY2tncm91bmQ6IHVybChcIi4uLy4uL2ltYWdlcy9taWRzdGFycy5naWZcIikgbm8tcmVwZWF0IDAgMDtcbn1cbi5wdWJsaWMtaW1nLXRleHQgbGkgPiBhOmxhc3QtY2hpbGQge1xuICBkaXNwbGF5OiBibG9jaztcbiAgd2lkdGg6IDY4cHg7XG4gIGhlaWdodDogMjNweDtcbiAgYm9yZGVyLXJhZGl1czogNHB4O1xuICBiYWNrZ3JvdW5kOiAjMzM3N2FhO1xuICBsaW5lLWhlaWdodDogMjNweDtcbiAgY29sb3I6ICNmZmY7XG4gIG1hcmdpbjogMCBhdXRvO1xufVxuLnB1YmxpYy1pbWctdGV4dCBsaSA+IGE6bGFzdC1jaGlsZDpob3ZlciB7XG4gIGJhY2tncm91bmQ6ICM2NjY7XG59XG4ubXVzaWMge1xuICBtYXJnaW4tdG9wOiA0NXB4O1xuICBiYWNrZ3JvdW5kOiAjZjdmN2Y3O1xufVxuLm11c2ljIGEge1xuICBjb2xvcjogIzU1NWQ1Mztcbn1cbi5tdXNpYyBhOmhvdmVyIHtcbiAgYmFja2dyb3VuZDogIzU1NWQ1MztcbiAgY29sb3I6ICNmZmY7XG59XG4ubXVzaWMgLm11c2ljLXdyYXAgLm11c2ljLWNhdGFsb2cge1xuICBwYWRkaW5nLXRvcDogMzNweDtcbn1cbi5tdXNpYyAubXVzaWMtd3JhcCAubXVzaWMtY2F0YWxvZyA+IGRsIGR0IHtcbiAgZm9udC1zaXplOiAyMnB4O1xuICBsaW5lLWhlaWdodDogNTBweDtcbiAgY29sb3I6ICNmNDk5NmE7XG59XG4ubXVzaWMgLm11c2ljLXdyYXAgLm11c2ljLWNhdGFsb2cgPiBkbCBkZCBhIHtcbiAgZm9udC1zaXplOiAxNHB4O1xuICBsaW5lLWhlaWdodDogMjRweDtcbn1cbi5tdXNpYyAubXVzaWMtd3JhcCAubXVzaWMtY2F0YWxvZyAubGl0dGxlLWxvZ28ge1xuICBtYXJnaW4tdG9wOiAzMHB4O1xufVxuLm11c2ljIC5tdXNpYy13cmFwIC5tdXNpYy1jYXRhbG9nIC5saXR0bGUtbG9nbyBhOmZpcnN0LWNoaWxkIHtcbiAgZGlzcGxheTogYmxvY2s7XG4gIHdpZHRoOiA1MHB4O1xuICBoZWlnaHQ6IDUwcHg7XG4gIGJvcmRlci1yYWRpdXM6IDZweDtcbiAgYm94LXNoYWRvdzogNHB4IDRweCA2cHggI2I0YjRiNDtcbn1cbi5tdXNpYyAubXVzaWMtd3JhcCAubXVzaWMtY2F0YWxvZyAubGl0dGxlLWxvZ28gYTpsYXN0LWNoaWxkIHtcbiAgbGluZS1oZWlnaHQ6IDI0cHg7XG59XG4ubXVzaWMgLm11c2ljLXdyYXAgLm11c2ljLWNhdGFsb2cgLmZtLWxvZ28ge1xuICBiYWNrZ3JvdW5kOiB1cmwoXCIuLi8uLi9pbWFnZXMvYXBwX2ljb25zXzUwXzYuanBnXCIpIG5vLXJlcGVhdCAtMjUwcHggMDtcbn1cbi5tdXNpYyAubXVzaWMtd3JhcCAubXVzaWMtY2F0YWxvZyAubXVzaWNtYW4tbG9nbyB7XG4gIGJhY2tncm91bmQ6IHVybChcIi4uLy4uL2ltYWdlcy9hcHBfaWNvbnNfNTBfNi5qcGdcIikgbm8tcmVwZWF0IC01MHB4IDA7XG59XG4ubXVzaWMgLm11c2ljLXdyYXAgLm11c2ljLWxpc3Qtd3JhcCB7XG4gIHBhZGRpbmctdG9wOiAyNnB4O1xuICBtYXJnaW4tbGVmdDogNThweDtcbiAgd2lkdGg6IDQ5NXB4O1xufVxuLm11c2ljIC5tdXNpYy13cmFwIC5tdXNpYy1saXN0LXdyYXAgLnhpbmRpZSB7XG4gIGxpbmUtaGVpZ2h0OiA0OHB4O1xufVxuLm11c2ljIC5tdXNpYy13cmFwIC5tdXNpYy1saXN0LXdyYXAgLm11c2ljLWltZy10ZXh0IHtcbiAgcGFkZGluZy1sZWZ0OiAxM3B4O1xufVxuLm11c2ljIC5tdXNpYy13cmFwIC5tdXNpYy1saXN0LXdyYXAgLm11c2ljLWltZy10ZXh0IGxpIC5pbWctd3JhcCB7XG4gIHdpZHRoOiA4NXB4O1xuICBoZWlnaHQ6IDc2cHg7XG59XG4ubXVzaWMgLm11c2ljLXdyYXAgLm11c2ljLWxpc3Qtd3JhcCAubXVzaWMtaW1nLXRleHQgbGkgPiBhIHtcbiAgZGlzcGxheTogYmxvY2s7XG59XG4ubXVzaWMgLm11c2ljLXdyYXAgLm11c2ljLWxpc3Qtd3JhcCAubXVzaWMtaW1nLXRleHQgbGk6bm90KDpudGgtY2hpbGQoNG4rMSkpIHtcbiAgbWFyZ2luLWxlZnQ6IDQ1cHg7XG59XG4ubXVzaWMgLm11c2ljLXdyYXAgLm11c2ljLWNsYXNzIHtcbiAgcGFkZGluZy10b3A6IDI2cHg7XG4gIG1hcmdpbi1sZWZ0OiA2OHB4O1xuICB3aWR0aDogMjE2cHg7XG59XG4ubXVzaWMgLm11c2ljLXdyYXAgLm11c2ljLWNsYXNzIC5tdXNpYy1jbGFzcy1tYW55ID4gaDIge1xuICBsaW5lLWhlaWdodDogNDhweDtcbn1cbi5tdXNpYyAubXVzaWMtd3JhcCAubXVzaWMtY2xhc3MgLm11c2ljLWNsYXNzLW1hbnkgPiB1bCBsaSB7XG4gIGZsb2F0OiBsZWZ0O1xuICBsaW5lLWhlaWdodDogMjRweDtcbn1cbi5tdXNpYyAubXVzaWMtd3JhcCAubXVzaWMtY2xhc3MgLm11c2ljLWNsYXNzLW1hbnkgPiB1bCBsaTpub3QoOm50aC1jaGlsZCg1bisxKSkge1xuICBtYXJnaW4tbGVmdDogMjJweDtcbn1cbi5tdXNpYyAubXVzaWMtd3JhcCAubXVzaWMtY2xhc3MgLm11c2ljLWNsYXNzLWhvdCA+IGgyIHtcbiAgbGluZS1oZWlnaHQ6IDM0cHg7XG59XG4ubXVzaWMgLm11c2ljLXdyYXAgLm11c2ljLWNsYXNzIC5tdXNpYy1jbGFzcy1ob3Qgb2wgbGkge1xuICBoZWlnaHQ6IDM1cHg7XG4gIGxpbmUtaGVpZ2h0OiAzNXB4O1xuICBib3JkZXItYm90dG9tOiAxcHggZG90dGVkICM5RTlFOUU7XG59XG4iXX0= */
