<section class="group">
    <div class="group-wrap container clearfix">
        <div class="group-catalog fl">
            <dl>
                <dt>小组</dt>
                <dd><a href="#">发现小组</a></dd>
                <dd><a href="#">发现话题</a></dd>

            </dl>
            <div class="little-logo">
                <a href="#" class="green-logo"></a>
                <a href="#">豆瓣小组</a>
            </div>
        </div>
        <div class="group-list-wrap fl">
            <h2 class="public-title xiaozu">
                <span>热门小组......</span>
                <span>(<a href="#">更多</a>)</span>
            </h2>
            <ul class="group-img-text clearfix">
                <li>
                    <div class="img-wrap fl">
                        <a href="#">
                            <img src="../images/g62993-7.jpg" alt="">
                        </a>
                    </div>
                    <div class="group-text fl">
                        <a href="#">
                            “女权”是权力的权，然后呢？
                        </a>
                        <p>
                            69002个成员
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img-wrap fl">
                        <a href="#">
                            <img src="../images/g62993-7.jpg" alt="">
                        </a>
                    </div>
                    <div class="group-text fl">
                        <a href="#">
                            “女权”是权力的权，然后呢？
                        </a>
                        <p>
                            69002个成员
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img-wrap fl">
                        <a href="#">
                            <img src="../images/g62930-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="group-text fl">
                        <a href="#">
                            讨厌男生长指甲
                        </a>
                        <p>
                            69002个成员
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img-wrap fl">
                        <a href="#">
                            <img src="../images/g62930-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="group-text fl">
                        <a href="#">
                            讨厌男生长指甲
                        </a>
                        <p>
                            69002个成员
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img-wrap fl">
                        <a href="#">
                            <img src="../images/g62930-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="group-text fl">
                        <a href="#">
                            讨厌男生长指甲
                        </a>
                        <p>
                            69002个成员
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img-wrap fl">
                        <a href="#">
                            <img src="../images/g62930-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="group-text fl">
                        <a href="#">
                            讨厌男生长指甲
                        </a>
                        <p>
                            69002个成员
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img-wrap fl">
                        <a href="#">
                            <img src="../images/g62930-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="group-text fl">
                        <a href="#">
                            讨厌男生长指甲
                        </a>
                        <p>
                            69002个成员
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img-wrap fl">
                        <a href="#">
                            <img src="../images/g62930-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="group-text fl">
                        <a href="#">
                            讨厌男生长指甲
                        </a>
                        <p>
                            69002个成员
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img-wrap fl">
                        <a href="#">
                            <img src="../images/g62930-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="group-text fl">
                        <a href="#">
                            讨厌男生长指甲
                        </a>
                        <p>
                            69002个成员
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img-wrap fl">
                        <a href="#">
                            <img src="../images/g62930-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="group-text fl">
                        <a href="#">
                            讨厌男生长指甲
                        </a>
                        <p>
                            69002个成员
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img-wrap fl">
                        <a href="#">
                            <img src="../images/g62930-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="group-text fl">
                        <a href="#">
                            讨厌男生长指甲
                        </a>
                        <p>
                            69002个成员
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img-wrap fl">
                        <a href="#">
                            <img src="../images/g62930-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="group-text fl">
                        <a href="#">
                            讨厌男生长指甲
                        </a>
                        <p>
                            69002个成员
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="group-class fl">
            <div class="group-class-many">
                <h2 class="public-title">
                    <span>小组分类......</span>
                    <span>(<a href="#">更多</a>)</span>
                </h2>
                <ul>
                    <li class="clearfix">
                        <h3><a href="#">兴趣</a></h3>
                        <p>
                            <a href="#">旅行</a>
                            <a href="#">摄影</a>
                            <a href="#">影视</a>
                            <a href="#">音乐</a>
                            <a href="#">旅行</a>
                            <a href="#">摄影</a>
                            <a href="#">影视</a>
                            <a href="#">音乐</a>
                            <a href="#">旅行</a>
                            <a href="#">摄影</a>
                            <a href="#">影视</a>
                            <a href="#">音乐</a>
                        </p>

                    </li>
                    <li class="clearfix">
                        <h3><a href="#">兴趣</a></h3>
                        <p>
                            <a href="#">旅行</a>
                            <a href="#">摄影</a>
                            <a href="#">影视</a>
                            <a href="#">音乐</a>
                            <a href="#">旅行</a>
                            <a href="#">摄影</a>
                            <a href="#">影视</a>
                            <a href="#">音乐</a>
                            <a href="#">旅行</a>
                            <a href="#">摄影</a>
                            <a href="#">影视</a>
                            <a href="#">音乐</a>
                        </p>

                    </li>
                    <li class="clearfix">
                        <h3><a href="#">购物>></a></h3>
                        <p>
                            <a href="#">旅行</a>
                            <a href="#">摄影</a>
                            <a href="#">影视</a>
                            <a href="#">音乐</a>
                            <a href="#">旅行</a>
                            <a href="#">摄影</a>
                            <a href="#">影视</a>
                            <a href="#">音乐</a>
                            <a href="#">旅行</a>
                            <a href="#">摄影</a>
                            <a href="#">影视</a>
                            <a href="#">音乐</a>
                        </p>

                    </li>
                    <li class="clearfix">
                        <h3><a href="#">学术>></a></h3>
                        <p>
                            <a href="#">旅行</a>
                            <a href="#">摄影</a>
                            <a href="#">影视</a>
                            <a href="#">音乐</a>
                            <a href="#">旅行</a>
                            <a href="#">摄影</a>
                            <a href="#">影视</a>
                            <a href="#">音乐</a>
                            <a href="#">旅行</a>
                            <a href="#">摄影</a>
                            <a href="#">影视</a>
                            <a href="#">音乐</a>
                        </p>

                    </li>


                </ul>
            </div>


        </div>
    </div>
</section>