<header class="head container clearfix">
    <h1 class="logo fl">
        <a href="#">豆瓣</a>
    </h1>
    <form action="#" class="fl">
        <input type="text" class="head-search" placeholder="电影、音乐、书籍">
        <span></span>
    </form>
    <ul class="navbar fl">
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
    </ul>
</header>