<div class="hot-content container clearfix">
    <div class="hot-content-main fl">
        <h2>热点内容</h2>
        <ul class="hot-imgs fl">
            <li class="hot-img fl">
                <div class="img-wrap">
                    <img src="../images/p1728984586.jpg" alt="">
                </div>
                <p>
                    <a href="#">
                    兔兔好萌
                </a>
                    <span>
                    129张照片
                </span>
                </p>
            </li>
            <li class="hot-img fl">
                <div class="img-wrap">
                    <img src="../images/p1728984586.jpg" alt="">
                </div>
                <p>
                    <a href="#">
                    兔兔好萌
                </a>
                    <span>
                    129张照片
                </span>
                </p>
            </li>
            <li class="hot-img fl">
                <div class="img-wrap">
                    <img src="../images/p1728984586.jpg" alt="">
                </div>
                <p>
                    <a href="#">
                    兔兔好萌
                </a>
                    <span>
                    129张照片
                </span>
                </p>
            </li>
            <li class="hot-img fl">
                <div class="img-wrap">
                    <img src="../images/p1728984586.jpg" alt="">
                </div>
                <p>
                    <a href="#">
                    兔兔好萌
                </a>
                    <span>
                    129张照片
                </span>
                </p>
            </li>


        </ul>
        <div class="hot-content-text fl">
            <ul>
                <li><a href="#">如果高考真的不考英语了，对我而言未尝不是一件省心事，至少我再也不用扭捏躲闪邮</a></li>
                <li><a href="#">如果高考真的不考英语了，对我而言未尝不是一件省心事，至少我再也不用扭捏躲闪邮</a></li>
                <li><a href="#">如果高考真的不考英语了，对我而言未尝不是一件省心事，至少我再也不用扭捏躲闪邮</a></li>
                <li><a href="#">如果高考真的不考英语了，对我而言未尝不是一件省心事，至少我再也不用扭捏躲闪邮</a></li>
                <li><a href="#">如果高考真的不考英语了，对我而言未尝不是一件省心事，至少我再也不用扭捏躲闪邮</a></li>
                <li><a href="#">如果高考真的不考英语了，对我而言未尝不是一件省心事，至少我再也不用扭捏躲闪邮</a></li>
                <li><a href="#">如果高考真的不考英语了，对我而言未尝不是一件省心事，至少我再也不用扭捏躲闪邮</a></li>
                <li><a href="#">如果高考真的不考英语了，对我而言未尝不是一件省心事，至少我再也不用扭捏躲闪邮</a></li>
                <li><a href="#">如果高考真的不考英语了，对我而言未尝不是一件省心事，至少我再也不用扭捏躲闪邮</a></li>
                <li><a href="#">如果高考真的不考英语了，对我而言未尝不是一件省心事，至少我再也不用扭捏躲闪邮</a></li>
            </ul>
        </div>
    </div>
    <div class="hot-content-side fl">
        <h2 class="public-title">
            <span>线上活动......</span>
            <span>(<a href="#">更多</a>)</span>
        </h2>
        <ul>
            <li>
                <a href="#">
                我依旧相信努力的意义，奋斗的价值！
            </a>
                <p>时间：9月12日 - 12月10日</p>
                <p>1026人参加</p>
            </li>
            <li>
                <a href="#">
                我依旧相信努力的意义，奋斗的价值！
            </a>
                <p>时间：9月12日 - 12月10日</p>
                <p>1026人参加</p>
            </li>
            <li>
                <a href="#">
                我依旧相信努力的意义，奋斗的价值！
            </a>
                <p>时间：9月12日 - 12月10日</p>
                <p>1026人参加</p>
            </li>
            <li>
                <a href="#">
                我依旧相信努力的意义，奋斗的价值！
            </a>
                <p>时间：9月12日 - 12月10日</p>
                <p>1026人参加</p>
            </li>
        </ul>
        <div class="let-us-wrap">
            <h2><span>和我一起</span>
                <a href="#"><img src="../images/file-1381401029.png" alt=""></a>
            </h2>
            <div class="let-us clearfix">
                <div class="img-wrap fl">
                    <a href="#">
                        <img src="../images/992c062504429c4.jpg" alt="">
                    </a>
                </div>
                <div class="let-us-text fl">
                    <a href="#">
                你最想成为那种鬼！
            </a>
                    <p>时间：10/15 - 10/30</p>
                    <p>531人参加</p>
                </div>
            </div>
        </div>
    </div>
    <div class="public-add fl">
        <a href="#"><img src="../images/0b64348aad6d21d.jpg" alt=""></a>
    </div>
</div>