<section class="movie">
    <div class="movie-wrap container clearfix">
        <div class="movie-catalog fl">
            <dl>
                <dt>电影</dt>
                <dd><a href="#">影讯&购票</a></dd>
                <dd><a href="#">电视剧</a></dd>
                <dd><a href="#">排行榜</a></dd>
                <dd><a href="#">分类</a></dd>
                <dd><a href="#">影评</a></dd>
                <dd><a href="#">预告片</a></dd>
            </dl>
            <div class="little-logo">
                <a href="#"></a>
                <a href="#">豆瓣电影</a>
            </div>
        </div>
        <div class="movie-list-wrap fl">
            <h2 class="public-title reying">
                <span>正在热映......</span>
                <span>(<a href="#">更多</a>)</span>
            </h2>
            <ul class="public-img-text movie-img-text">
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/p2153758345.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">斯大林格勒</a>
                    <div class="stars">
                        <span></span>
                        <span>6.1</span>
                    </div>
                    <a href="#">选购订票</a>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/p2153758345.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">斯大林格勒</a>
                    <div class="stars">
                        <span></span>
                        <span>6.1</span>
                    </div>
                    <a href="#">选购订票</a>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/p2153758345.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">斯大林格勒</a>
                    <div class="stars">
                        <span></span>
                        <span>6.1</span>
                    </div>
                    <a href="#">选购订票</a>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/p2153758345.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">斯大林格勒</a>
                    <div class="stars">
                        <span></span>
                        <span>6.1</span>
                    </div>
                    <a href="#">选购订票</a>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/p2153758345.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">斯大林格勒</a>
                    <div class="stars">
                        <span></span>
                        <span>6.1</span>
                    </div>
                    <a href="#">选购订票</a>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/p2153758345.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">斯大林格勒</a>
                    <div class="stars">
                        <span></span>
                        <span>6.1</span>
                    </div>
                    <a href="#">选购订票</a>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/p2153758345.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">斯大林格勒</a>
                    <div class="stars">
                        <span></span>
                        <span>6.1</span>
                    </div>
                    <a href="#">选购订票</a>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/p2153758345.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">斯大林格勒</a>
                    <div class="stars">
                        <span></span>
                        <span>6.1</span>
                    </div>
                    <a href="#">选购订票</a>
                </li>

            </ul>
        </div>
        <div class="movie-class fl">
            <div class="movie-class-many">
                <h2 class="public-title">
                    <span>影片分类......</span>
                    <span>(<a href="#">更多</a>)</span>
                </h2>
                <ul class="clearfix">
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">法国</a></li>
                </ul>
            </div>
            <div class="movie-class-hot">
                <h2 class="public-title">
                    <span>近期热门......</span>
                    <span>(<a href="#">更多</a>)</span>
                </h2>
                <ol>
                    <li><span>1.</span><a href="#"> 卑鄙的我</a></li>
                    <li><span>2.</span><a href="#"> 卑鄙的我</a></li>
                    <li><span>3.</span><a href="#"> 卑鄙的我</a></li>
                    <li><span>4.</span><a href="#"> 卑鄙的我</a></li>
                    <li><span>5.</span><a href="#"> 卑鄙的我</a></li>
                    <li><span>6.</span><a href="#"> 卑鄙的我</a></li>
                </ol>
            </div>

        </div>
    </div>
</section>