<section class="music">
    <div class="music-wrap container clearfix">
        <div class="music-catalog fl">
            <dl>
                <dt>音乐</dt>
                <dd><a href="#">音乐人</a></dd>
                <dd><a href="#">排行榜</a></dd>
                <dd><a href="#">分类浏览</a></dd>
                <dd><a href="#">豆瓣FM</a></dd>
            </dl>
            <div class="little-logo">
                <a href="#" class="fm-logo"></a>
                <a href="#">豆瓣FM</a>
            </div>
            <div class="little-logo">
                <a href="#" class="musicman-logo"></a>
                <a href="#">豆瓣音乐人</a>
            </div>
        </div>
        <div class="music-list-wrap fl">
            <h2 class="public-title xindie">
                <span>豆瓣新碟榜......</span>
                <span>(<a href="#">更多</a>)</span>
            </h2>
            <ul class="public-img-text music-img-text">
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/s27081296.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">1.炀荆州</a>
                    <a href="#">顶楼马戏团</a>
                    <div class="stars">
                        <span></span>
                        <span>8.1</span>
                    </div>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/s27081296.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">1.炀荆州</a>
                    <a href="#">顶楼马戏团</a>
                    <div class="stars">
                        <span></span>
                        <span>8.1</span>
                    </div>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/s27081296.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">1.炀荆州</a>
                    <a href="#">顶楼马戏团</a>
                    <div class="stars">
                        <span></span>
                        <span>8.1</span>
                    </div>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/s27081296.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">1.炀荆州</a>
                    <a href="#">顶楼马戏团</a>
                    <div class="stars">
                        <span></span>
                        <span>8.1</span>
                    </div>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/s27081296.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">1.炀荆州</a>
                    <a href="#">顶楼马戏团</a>
                    <div class="stars">
                        <span></span>
                        <span>8.1</span>
                    </div>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/s27081296.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">1.炀荆州</a>
                    <a href="#">顶楼马戏团</a>
                    <div class="stars">
                        <span></span>
                        <span>8.1</span>
                    </div>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/s27081296.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">1.炀荆州</a>
                    <a href="#">顶楼马戏团</a>
                    <div class="stars">
                        <span></span>
                        <span>8.1</span>
                    </div>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/s27081296.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">1.炀荆州</a>
                    <a href="#">顶楼马戏团</a>
                    <div class="stars">
                        <span></span>
                        <span>8.1</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="music-class fl">
            <div class="music-class-many">
                <h2 class="public-title">
                    <span>本周流行音乐人......</span>
                    <span>(<a href="#">更多</a>)</span>
                </h2>
                <ul>
                    <li class="clearfix">
                        <span class="fl">1.</span>
                        <div class="lr-img fl">
                            <div class="img-wrap fl">
                                <a href="#">
                                    <img src="../images/8fc736add65e135.jpg" alt="">
                                </a>
                            </div>
                            <div class="text-wrap fl">
                                <p><a href="#">jazingpiper性感的拖鞋</a></p>
                                <p>流派：说唱Rap</p>
                                <p>93574人关注</p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <span class="fl">1.</span>
                        <div class="lr-img fl">
                            <div class="img-wrap fl">
                                <a href="#">
                                    <img src="../images/8fc736add65e135.jpg" alt="">
                                </a>
                            </div>
                            <div class="text-wrap fl">
                                <p><a href="#">jazingpiper性感的拖鞋</a></p>
                                <p>流派：说唱Rap</p>
                                <p>93574人关注</p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <span class="fl">1.</span>
                        <div class="lr-img fl">
                            <div class="img-wrap fl">
                                <a href="#">
                                    <img src="../images/8fc736add65e135.jpg" alt="">
                                </a>
                            </div>
                            <div class="text-wrap fl">
                                <p><a href="#">jazingpiper性感的拖鞋</a></p>
                                <p>流派：说唱Rap</p>
                                <p>93574人关注</p>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>


        </div>
    </div>
</section>