<section class="reading">
    <div class="reading-wrap container clearfix">
        <div class="reading-catalog fl">
            <dl>
                <dt>读书</dt>
                <dd><a href="#">分类阅览</a></dd>
                <dd><a href="#">阅读</a></dd>
                <dd><a href="#">作者</a></dd>
                <dd><a href="#">书评</a></dd>
                <dd><a href="#">购书单</a></dd>
                <dd><a href="#">预告片</a></dd>
            </dl>
            <div class="little-logo">
                <a class="yuedu" href="#"></a>
                <a href="#">豆瓣阅读</a>
            </div>
            <div class="little-logo">
                <a class="biji" href="#"></a>
                <a href="#">豆瓣笔记</a>
            </div>
            <div class="little-logo">
                <a class="goushu" href="#"></a>
                <a href="#">豆瓣购书</a>
            </div>
        </div>
        <div class="reading-list-wrap fl">
            <h2 class="public-title xinshu">
                <span>新书速递......</span>
                <span>(<a href="#">更多</a>)</span>
            </h2>
            <ul class="public-img-text reading-img-text clearfix">
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/475730.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">高的力保的人</a>
                    <p>（美）菲利普</p>
                    <a href="#">免费试读</a>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/475730.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">高的力保的人</a>
                    <p>（美）菲利普</p>
                    <a href="#">免费试读</a>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/475730.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">高的力保的人</a>
                    <p>（美）菲利普</p>
                    <a href="#">免费试读</a>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/475730.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">高的力保的人</a>
                    <p>（美）菲利普</p>
                    <a href="#">免费试读</a>
                </li>

            </ul>
            <h2 class="public-title xinshu two">
                <span>原创数字作品......</span>
                <span>(<a href="#">更多</a>)</span>
            </h2>
            <ul class="public-img-text reading-img-text clearfix">
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/475730.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">高的力保的人</a>
                    <p>（美）菲利普</p>
                    <a href="#">免费试读</a>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/475730.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">高的力保的人</a>
                    <p>（美）菲利普</p>
                    <a href="#">免费试读</a>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/475730.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">高的力保的人</a>
                    <p>（美）菲利普</p>
                    <a href="#">免费试读</a>
                </li>
                <li>
                    <div class="img-wrap">
                        <a href="#">
                            <img src="../images/475730.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">高的力保的人</a>
                    <p>（美）菲利普</p>
                    <a href="#">免费试读</a>
                </li>

            </ul>
        </div>
        <div class="reading-class fl">
            <div class="reading-class-many">
                <h2 class="public-title">
                    <span>热门标签......</span>
                    <span style="color:#614e3c">(<a href="#">更多</a>)</span>
                </h2>
                <ul class="clearfix">
                    <li>
                        <span>[文学]</span>
                        <a href="#">小说</a>
                        <a href="#">随笔</a>
                        <a href="#">散文</a>
                        <a href="#">日本文学</a>
                        <a href="#">童话</a>
                        <a href="#">诗歌</a>
                        <a href="#">名著</a>
                        <a href="#">港台</a>
                        <a href="#">更多</a>
                    </li>
                    <li>
                        <span>[流行]</span>
                        <a href="#">漫画</a>
                        <a href="#">推理</a>
                        <a href="#">绘本</a>
                        <a href="#">青春</a>
                        <a href="#">科幻</a>
                        <a href="#">言情</a>
                        <a href="#">武侠小说</a>
                        <a href="#">奇幻</a>
                        <a href="#">更多</a>
                    </li>
                    <li>
                        <span>[文化]</span>
                        <a href="#">历史</a>
                        <a href="#">哲学</a>
                        <a href="#">传记</a>
                        <a href="#">设计</a>
                        <a href="#">建筑</a>
                        <a href="#">电影</a>
                        <a href="#">回忆录</a>
                        <a href="#">音乐</a>
                        <a href="#">更多</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="public-add fl" style="margin-top: 62px">
            <a href="#">
                <img src="../images/017ae3b58072a9b.jpg" alt="">
            </a>
        </div>
    </div>
</section>