<section class="register-wrap clearfix">
    <div class="register container">
        <div class="join-life fl">
            <a href="#" class="fl">
            <strong>加入我们</strong>
            <span>注册</span>
        </a>
            <span class="fl">发现更多生活</span>
        </div>
        <form class="login fr" action="#">
            <p class="input-group">
                <input type="text">
                <input type="password" name="" value="">
                <input type="submit" name="" value="登录">
            </p>
            <p class="remeber-me">
                <label >
                    <input type="checkbox" name="" >
                    <span>记住我</span>
                </label>
                <a href="#">忘记密码</a>
            </p>
        </form>
    </div>
</section>